:root {
    --main-title-color: #FFFFFF;
    --second-title-color: #2E2F42;
    --main-btn-color: #4D5AE5;
    --second-btn-color: #FFFFFF;
    --main-logo-color: #2E2F42;
    --second-logo-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --hover-color: #404BBF;
    --background-color: #F4F4FD;
    --main-subtitle-color: #2E2F42;
    --main-text-color: #434455;
    --footer-text-color: #E7E9FC;
}

body {
    font-family: 'roboto', sans-serif;
    color:#2E2F42;
    background-color: #FFFFFF
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.no-scroll {
    overflow: hidden;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.container-mob {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*-----HEADER------ */

.header {
    padding: 0;
    border-bottom: 1px solid #E7E9FC;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.logo-dark {
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-logo-color);
    margin-right: 76px;
}

.logo-dark:hover,
.logo-dark:focus {
    color: var(--hover-color);
}

.accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.header-list {
    display: none;
}

.address-list {
    display: none;
}

.header-menu {
    background-color: transparent;
    border: 1px solid transparent;
}

.header-icon {
    fill: #434455;
    stroke: #434455;
}

.mob-menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0;
    z-index: 1;
    padding-top: 24px;
    padding-bottom: 40px;
    overflow: auto;
}

.mob-menu > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.mob-menu-btn {
    display: flex;
    margin-left: auto;
    width: 24px;
    height: 24px;
    margin-bottom: 32px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-btn:is(:hover, :focus) {
    background-color: #404BBF;
    fill: #FFFFFF;
} 

.mob-menu-icon {
}

.mob-menu-list {
    text-align: start;
    margin-bottom: 50px;
}

.mob-menu-item:not(last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-link:is(:hover, :focus) {
    color: #404BBF;
} 

.mob-address {
}

.mob-address-list {
    text-align: start;
}

.mob-address-item:not(last-child) {
    margin-bottom: 40px;
}

.mob-tel-link {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-tel-link:hover,
.mob-tel-link:focus {
    color: #4D5AE5;
}

.mob-mail-link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-mail-link:hover,
.mob-mail-link:focus {
    color: #4D5AE5;
}

.mob-soc-list {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.mob-soc-item {
    width: 40px;
    height: 40px;
}

.mob-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-soc-link:hover,
.mob-soc-link:focus {
    background-color: #404BBF;
}

.mob-soc-icon {
    fill: #F4F4FD;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

/*-----HERO------ */

.hero {
    max-width: 1440px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mob-2x.jpg);;
    }
}

.hero-container {
    text-align: center;
    padding: 0;
    max-width: 100%;
    margin: 0 auto;
}

.hero-title {
    font-size: 25px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    /* width: 507px; */
    margin: 0 auto 72px;
}

.hero-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--second-btn-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color:var(--hover-color);
}

/*-----PECULIARITIES------ */

.peculiarities {
    padding-top: 96px;
    padding-bottom: 96px;
    text-align: center;
}

.peculiarities-container {
    text-align: center;
}

.peculiarities-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px;
    width: 100%;
}

.peculiarities-item {

}


.peculiarities-wrap {
    display: none;
}

.peculiarities-icon {
}

.peculiarities-subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-subtitle-color);
    margin-bottom: 8px;
}

.peculiarities-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    width: 100%;
    text-align: justify;
}

-----SERVICES------ */

.services {
}

.services-container{
    display: none;
}

/*-----TEAM------ */

.team {
    background-color: var(--background-color);
    padding-top: 96px;
    padding-bottom: 128px;
}

.team-container {
}

.container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px;
    width: 100%;
}

.team-item {
    width: 100%;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-subtitle-color);
    margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    margin-bottom: 8px;
}

.team-content {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-soc-item {
    width: 40px;
    height: 40px;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404BBF;
}

.team-soc-icon {
    fill: #F4F4FD;
}

/*-----customers------ */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.container {
}

.customers-container {
    text-align: center;
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 72px;
    width: 100%;
}


.customers-item {
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo {
    fill: currentColor;
}

.customers-link:is(:hover, :focus) {
    border-color: #404BBF;
    color: #404BBF;
}

/*-----FOOTER------ */

.footer {
    background-color: var(--main-subtitle-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo-wrap {
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-logo-color);
    margin-bottom: 16px;
    display: inline;
    display: block;
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--hover-color);
}

.footer-accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    width: 264px;
}

.footer-soc {
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-soc-item {
    width: 40px;
    height: 40px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31D0AA;
}

.footer-soc-icon {
    fill: #F4F4FD;
}

.subscribe {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.subscribe-input:placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    display: flex;
    width: 165px;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: space-between;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid transparent;
    gap: 16px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color:var(--hover-color);
}

.send-icon {
}

/*-----PORTFOLIO------ */

.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-container {
}

.filter-list {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
}

.filter-item {
}

.filter-btn {
    padding: 12px 24px;
    height: 48px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: var(--main-btn-color);
    border: 1px solid #E7E9FC;
    background-color: #F4F4FD;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-item {
}

.portfolio-item:hover .portfolio-top-text{
    transform: translateY(0%);
}

.portfolio-top-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
}

.portfolio-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-subtitle-color);
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*-----MODAL------ */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 24px;
    padding-top: 72px;
    margin-top: 13px;
    margin-bottom: 13px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0,5);
}

.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-bottom: 24px;
    background-color: #E7E9FC;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:is(:hover, :focus) {
    background-color: #404BBF;
    fill: #FFFFFF;
} 

.modal-close-icon {
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 14px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 38px;
    outline: transparent;
}

.modal-input:focus, .modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-input-icon {
    fill: #4D5AE5;
}

.modal-input-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
}

.modal-field {
    position: relative;
    margin-bottom: 8px;
}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.input-wrap {
    position: relative;
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    outline: transparent;
    resize: none;
}

.modal-comment::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}

.check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    margin-bottom: 24px;
}

.check-text::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text::before {
    background-color: #404BBF;
    border: none;
    background-image: url(./images/Vector\ 4.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.modal-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color:var(--hover-color);
}

.modal-link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    margin-left: 2px;
    display: inline;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
