@media screen and (min-width: 768px) {
    .container {
        max-width: 738px;
    }

    .container-mob {
        max-width: 738px;
    }

    .header {
        padding: 0%;
        border-bottom: 1px solid #E7E9FC;
    }

    .container {
            max-width: 738px;
    }
    
    .header-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    
    .header-container {
        display: flex;
        align-items: center;
    }

    .header-menu {
        display: none;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }
    
    .header-item {
    }
    
    .header-link {
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-subtitle-color);
        display: inline;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-link:hover,
    .header-link:focus {
        color: var(--hover-color);
    }
    
    .current {
        position: relative;
    }
    
    .current::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
    }
    
    .address {}
    
    .address-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: 0 auto;
    }
    
    .address-link {
        font-style: normal;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        display: inline;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .address-link:hover,
    .address-link:focus {
        color: var(--hover-color);
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
    }
}

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 40px;
    }

    .peculiarities {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .containercontainer .peculiarities-container .container-mob {
        max-width: 738px;
    }

    .peculiarities-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        width: 100%;
    }

    .peculiarities-item {
        width: calc((100% - 24px) / 2);
    }

    .peculiarities-wrap {
        display: none;
    }

    .peculiarities-subtitle {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
        text-align: start;
    }
    
    .peculiarities-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--main-text-color);
        width: 100%;
        text-align: start;
    }
    

    .team {
        background-color: var(--background-color);
        padding-top: 96px;
        padding-bottom: 104px;
    }

    .container {
        max-width: 552px;
        padding: 0 15px;
        margin: 0 auto;
        outline: 1px solid red;
        text-align: center;
    }


    .team-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 64px;
        width: 100%;
    }

    .team-item {
        width: calc((100% - 24px) / 2);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

    .customers-container {
        max-width: 552px;
    }
    
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 24px;
        row-gap: 72px;
        width: 100%;
    }

    .customers-item {
        width: calc((100% - 48px) / 3);
        height: 88px;
    }

    .footer {
        background-color: var(--main-subtitle-color);
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        max-width: 552px;
        text-align: start;
    }


    .footer-soc{
        margin-left: 24px;
    }

    .subscribe {
        width: 320px;
        display: flex;
        flex-wrap: wrap;
        text-align: start;
        justify-content: start;
    }

    .subscribe-form {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .subscribe-input {
        width: 264px;
        height: 40px;
    }

    .subscribe-btn {
        margin-left: 24px;
}

.modal {
    width: 408px;
    height: 586px;
}

}